name: MSBuild

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build_and_test_vs2022:
    runs-on: windows-latest
    
    strategy:
      matrix:
        build_type: [Debug, Release]
        platform: [Win32, x64]

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ./prj/vs2022 -Project2ProjectTimeOut 300

    - name: Host properties
      run: wmic cpu get Name,NumberOfCores,NumberOfLogicalProcessors /format:value

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{matrix.build_type}} /p:Platform=${{matrix.platform}} -maxCpuCount:2 ./prj/vs2022/Simd.sln
     
    - name: Test
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: bin/v143/${{matrix.platform}}/${{matrix.build_type}}/Test.exe "-r=." -m=a -tt=2 "-ot=log_${{matrix.platform}}_${{matrix.build_type}}.txt" -ts=10

  build_and_test_vs2019:
    runs-on: windows-latest
    
    strategy:
      matrix:
        build_type: [Debug, Release]
        platform: [Win32, x64]

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ./prj/vs2019 -Project2ProjectTimeOut 300

    - name: Host properties
      run: wmic cpu get Name,NumberOfCores,NumberOfLogicalProcessors /format:value

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{matrix.build_type}} /p:Platform=${{matrix.platform}} -maxCpuCount:2 ./prj/vs2019/Simd.sln
     
    - name: Test
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: bin/v142/${{matrix.platform}}/${{matrix.build_type}}/Test.exe "-r=." -m=a -tt=2 "-ot=log_${{matrix.platform}}_${{matrix.build_type}}.txt" -ts=10

  build_and_test_vs2017:
    runs-on: windows-2019
    
    strategy:
      matrix:
        build_type: [Debug, Release]
        platform: [Win32, x64]

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ./prj/vs2017 -Project2ProjectTimeOut 300

    - name: Install Windows 8.1 SDK
      shell: powershell
      run: |
        Invoke-WebRequest -Method Get -Uri https://go.microsoft.com/fwlink/p/?LinkId=323507 -OutFile sdksetup.exe -UseBasicParsing
        Start-Process -Wait sdksetup.exe -ArgumentList "/q", "/norestart", "/features", "OptionId.WindowsDesktopSoftwareDevelopmentKit", "OptionId.NetFxSoftwareDevelopmentKit"

    - name: Host properties
      run: wmic cpu get Name,NumberOfCores,NumberOfLogicalProcessors /format:value

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{matrix.build_type}} /p:Platform=${{matrix.platform}} -maxCpuCount:2 ./prj/vs2017/Simd.sln
     
    - name: Test
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: bin/v141/${{matrix.platform}}/${{matrix.build_type}}/Test.exe "-r=." -m=a -tt=2 "-ot=log_${{matrix.platform}}_${{matrix.build_type}}.txt" -ts=10


  build_and_test_vs2015:
    runs-on: windows-2019
    
    strategy:
      matrix:
        build_type: [Debug, Release]
        platform: [Win32, x64]

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ./prj/vs2015 -Project2ProjectTimeOut 300

    - name: Install Windows 8.1 SDK
      shell: powershell
      run: |
        Invoke-WebRequest -Method Get -Uri https://go.microsoft.com/fwlink/p/?LinkId=323507 -OutFile sdksetup.exe -UseBasicParsing
        Start-Process -Wait sdksetup.exe -ArgumentList "/q", "/norestart", "/features", "OptionId.WindowsDesktopSoftwareDevelopmentKit", "OptionId.NetFxSoftwareDevelopmentKit"

    - name: Host properties
      run: wmic cpu get Name,NumberOfCores,NumberOfLogicalProcessors /format:value

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{matrix.build_type}} /p:Platform=${{matrix.platform}} -maxCpuCount:2 ./prj/vs2015/Simd.sln
     
    - name: Test
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: bin/v140/${{matrix.platform}}/${{matrix.build_type}}/Test.exe "-r=." -m=a -tt=2 "-ot=log_${{matrix.platform}}_${{matrix.build_type}}.txt" -ts=10
